PORT=5002
MONGO_URI=mongodb://mohamed_db:yxbKM99w66Gy6Sxc@ac-oixvxht-shard-00-00.o4ktlnz.mongodb.net:27017,ac-oixvxht-shard-00-01.o4ktlnz.mongodb.net:27017,ac-oixvxht-shard-00-02.o4ktlnz.mongodb.net:27017/?ssl=true&replicaSet=atlas-s7w493-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_super_secret_key_change_this
NODE_ENV=development
